body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.video-preview {
  margin: 3rem 0;

  min-width: 640px;
  min-height: 480px;
  max-width: 860px;
  height: auto;
  display: block;

  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.textfields {
  margin-top: 3rem;
}